@import "tailwindcss";
@plugin "@jongh/theme-plugin" {
  themes: default --default;
}
@plugin "@jongh/animation-plugin";

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-base-300);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral);
}

pre.shiki {
  max-height: var(--max-height, 80svh);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-base-300);

  code {
    display: grid;
    overflow: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .line {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
